
{% if loader %}
    {{ loader }}
{% else %}
    {{ header }}
    <link rel="stylesheet" href="/catalog/view/theme/oct_ultrastore/stylesheet/index.css"/>
    <section class="index">
        <div class="container dv-bg">
            <img class="intro__bg" src="/catalog/view/theme/oct_ultrastore/img/head-top.svg" alt=""/>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 lend-div">
                        <img class="point-1 wow zoomInUp animated" src="/catalog/view/theme/oct_ultrastore/img/tree-1.svg"
                             data-wow-delay="0.3s" alt="">
                        <img id="wBlock" class="point-2 heartBeat animated"
                             src="/catalog/view/theme/oct_ultrastore/img/kam-top-1.svg" data-wow-delay="0.6s" alt="">
                        <img class="point-3 wow zoomIn animated" src="/catalog/view/theme/oct_ultrastore/img/tree-2.png"
                             data-wow-delay="0.9s" alt="">
                        <img class="point-4 wow zoomIn animated" src="/catalog/view/theme/oct_ultrastore/img/kust-1.png"
                             data-wow-delay="1.2s" alt="">
                        <img class="point-5 wow zoomIn animated" src="/catalog/view/theme/oct_ultrastore/img/spruce-0.png"
                             data-wow-delay="1.5s" alt="">
                        <img class="point-6 wow zoomIn animated" src="/catalog/view/theme/oct_ultrastore/img/kust-2.png"
                             data-wow-delay="1.8s" alt="">
                        <img class="point-7 wow zoomIn animated" src="/catalog/view/theme/oct_ultrastore/img/tree-3.png"
                             data-wow-delay="2.1s" alt="">
                        <img class="point-8 wow zoomIn animated" src="/catalog/view/theme/oct_ultrastore/img/tree-5.png"
                             data-wow-delay="2.4s" alt="">
                        <img class="point-9 wow zoomIn animated" src="/catalog/view/theme/oct_ultrastore/img/tree-4.png"
                             data-wow-delay="2.7s" alt="">
                        <img class="point-10 wow zoomIn animated" src="/catalog/view/theme/oct_ultrastore/img/tree-4.png"
                             data-wow-delay="3s" alt="">
                        <img class="point-11 wow zoomIn animated" src="/catalog/view/theme/oct_ultrastore/img/tree-4.png"
                             data-wow-delay="3.3s" alt="">
                        <img class="img-lend wow fadeInLeft point-122"
                             src="/catalog/view/theme/oct_ultrastore/img/kenguru-top.png" data-wow-delay="3.1s" alt="">
                        <img class="point-13 wow zoomIn animated" src="/catalog/view/theme/oct_ultrastore/img/tree-6.png"
                             data-wow-delay="3.6s" alt="">
                        <img class="point-14 wow zoomIn animated" src="/catalog/view/theme/oct_ultrastore/img/floewer.png"
                             data-wow-delay="3.9s" alt="">
                        <img class="img-lend wow fadeInLeft animated"
                             src="/catalog/view/theme/oct_ultrastore/img/lend-1.png" alt="">
                    </div>
                    <div class="col-md-6 lend-divv">
                        <div class="row">
                            <div class="col-md-12 left-h1">
                                <h1>краса і настрій</h1>
                                <p>не лише мета нашої роботи,<br/>
                                    а й наш шлях.</p>
                                <a href="/pro-kompanyiu-ua">
                                    <button type="button" class="btn btn-primary"
                                            onclickonclick="location.href='/pro-kompanyiu-ua'">Компанія
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 left-h2">
                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Слой 1" viewBox="0 0 521.85 313.87">
                                    <path class="linel"
                                          d="M698.89 404.19s39.42 4.76 57.76-36S815.06 339 815.06 339l23.09 8.15a36.76 36.76 0 0 0 24.46-1.35c10.81-5.25-4.76-19-4.76-19s-22.3-17.48 24.46-22.42c33.28 2 42.73 0 42.73 0s31.3-3.41 76.13-73.38 67.93-2 135.17-8.15 67.25-95.32 67.25-95.32a21.3 21.3 0 0 1-13.13-16.3s13.13 1 13.13 16.3c13.92-2.32 16.47-15.39 16.47-15.39s-16.73 2.2-16.3 15.11c0 0 .68-10.64-2.38-16-6.79-1.81-7.64-13.87-6.28-19.64 7.64 1.36 11.74 14.18 6.28 19.64"
                                          style="fill:none;stroke-miterlimit:10" transform="translate(-698.83 -90.99)"/>
                                </svg>
                                <h2 class="the-best"><span>1</span>ТЕ В ЧОМУ МИ НАЙКРАЩІ</h2>
                                <div class="row left-h2-row">
                                    <div class="col-md-3 left-h2-c d-flex align-items-center">
                                        <img class="wow fadeInLeft  animated"
                                             src="/catalog/view/theme/oct_ultrastore/img/good-review.svg" alt="" width="100"
                                             height="100" style="visibility: visible; animation-name: fadeInLeft;">
                                    </div>
                                    <div class="col-md-9 preim-block">
                                        <h2 class="wow  tada animated" style="visibility: visible; animation-name: tada;">
                                            Розсадник Гарди номер 1 в Україні</h2>
                                        <p class="wow fadeIn tada" style="visibility: visible; animation-name: fadeIn;">
                                            Найбільший асортимент декоративних рослин на ринку. Наш великий досвід гарантує
                                            відміну якість!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cloud1"></div>
            <div class="cloud2"></div>
            <div class="cloud3"></div>
        </div>
    </section>
    <main>
        <section class="preim">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 preim-bc-1">
                        <div class="row">
                            <div class="col-md-3 d-flex align-items-center">
                                <img class="wow fadeInLeft animated"
                                     src="/catalog/view/theme/oct_ultrastore/img/innovation.svg" alt="" width="100"
                                     height="100">
                            </div>
                            <div class="col-md-9 preim-block">
                                <h2 class="wow animated tada">Сучасні технології</h2>
                                <p class="wow fadeIn tada">Ми використовуємо найновітніші європейські стандарти вирощування,
                                    що дає нам впевнено конкурувати на ринку України. Будьте впевнені в найкращому сервісі в
                                    співпраці з нами!</p>
                            </div>
                        </div>
                        <div class="row preim-bc-row">
                            <div class="col-md-3 d-flex align-items-center">
                                <img class="wow fadeInLeft animated"
                                     src="/catalog/view/theme/oct_ultrastore/img/save-planet.svg" alt="" width="100"
                                     height="100">
                            </div>
                            <div class="col-md-9 preim-block">
                                <h2 class="wow animated tada">Традиції</h2>
                                <p class="wow fadeIn tada">Традиції та великий досвід вирощування декоративних рослин з 1859
                                    року та понад 50 років розвитку розсаднику.</p>
                            </div>
                        </div>
                        <div class="row preim-bc-row">
                            <button id="myBtn"><img class="video-bg"
                                                    src="/catalog/view/theme/oct_ultrastore/img/video-bg.jpg" alt="">
                            </button>
                            <div id="myModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <iframe width="100%" height="450"
                                            src="https://www.youtube.com/embed/n6BTpv244Vc?si=boNoCEq_LidtDQ2k"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                            <script>
                                var modal = document.getElementById('myModal');
                                var btn = document.getElementById("myBtn");
                                var span = document.getElementsByClassName("close")[0];
                                btn.onclick = function () {
                                    modal.style.display = "block";
                                }
                                span.onclick = function () {
                                    modal.style.display = "none";
                                }
                                window.onclick = function (event) {
                                    if (event.target == modal) {
                                        modal.style.display = "none";
                                    }
                                }
                            </script>
                        </div>
                    </div>
                    <div class="col-md-6 preim-bc-2">
                        <div class="row">
                            <div class="col-md-3 col-3 d-flex justify-content-lg-end">
                                <a href="/decorativetrees-ua">
                                    <img class="wow fadeInLeft animated"
                                         src="/catalog/view/theme/oct_ultrastore/img/worldwide.svg" alt="" width="75"
                                         height="75">
                                </a>
                            </div>
                            <div class="col-md-9 col-9 preim-block1 d-flex align-items-center">
                                <a href="/decorativetrees-ua">
                                    <h2 class="wow animated tada">Вибір рослин та оформлення <br/>замовлення в
                                        інтернет-магазині</h2>
                                </a>
                            </div>
                        </div>
                        <div class="row preim-bc-row">
                            <div class="col-md-3 col-3 d-flex justify-content-lg-end">
                                <a href="/privacy-ua">
                                    <img class="wow fadeInLeft animated"
                                         src="/catalog/view/theme/oct_ultrastore/img/payment-method.svg" alt="" width="75"
                                         height="75">
                                </a>
                            </div>
                            <div class="col-md-9 col-9 preim-block1 d-flex align-items-center">
                                <a href="/privacy-ua">
                                    <h2 class="wow animated tada">Вибір зручного для вас способу <br/>оплати та доставки
                                    </h2>
                                </a>
                            </div>
                        </div>
                        <div class="row preim-bc-row">
                            <div class="col-md-3 col-3 d-flex justify-content-lg-end">
                                <a href="/dostavka-ua">
                                    <img class="wow fadeInLeft animated"
                                         src="/catalog/view/theme/oct_ultrastore/img/calendar.svg" alt="" width="75"
                                         height="75">
                                </a>
                            </div>
                            <div class="col-md-9 col-9 preim-block1 d-flex align-items-center">
                                <a href="/dostavka-ua">
                                    <h2 class="wow animated tada">2-3 дні і ваші чудові рослини <br/>вже у Вас!</h2>
                                </a>
                            </div>
                        </div>
                        <div class="row preim-bc-row">
                            <div class="col-md-3 col-3 d-flex justify-content-lg-end">
                                <a href="/dostavka-ua">
                                    <img class="wow fadeInLeft animated"
                                         src="/catalog/view/theme/oct_ultrastore/img/sitemap.svg" alt="" width="75"
                                         height="75">
                                </a>
                            </div>
                            <div class="col-md-9 col-9 preim-block1 d-flex align-items-center">
                                <a href="/dostavka-ua">
                                    <h2 class="wow animated tada">Доставка вашої рослин в будь-яку <br/>точку України!</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="servis">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 ser-left-b wow fadeInLeft  animated">
                        <h2 class="the-best"><span>2</span>Звернись<br/><strong>до професіоналів</strong></h2>
                        <p>Професійна команда менеджерів Гарди<br/>допоможе вам у виборі рослин і надасть<br/>детальну
                            консультацію по кожній рослині. <br/>Ми гарантуємо високу якість продукції, <br/>адаптованого до
                            наших кліматичних умов <br/>власного виробництва.</p>
                    </div>
                    <div class="col-md-6 ser-left-a">
                        <div class="servis-nav wow zoomInUp animated" data-wow-delay="1.2s">
                            <ul>
                                <li>
                                    <a href="/coniferous-plants-ua">Хвойні рослини</a>
                                </li>
                                <li>
                                    <a href="/ornamental-shrubs-ua">Декоративні кущі</a>
                                </li>
                                <li>
                                    <a href="/decorativetrees-ua">Декоративні дерева</a>
                                </li>
                                <li>
                                    <a href="">Ексклюзив</a>
                                </li>
                            </ul>
                        </div>
                        <img class="pointt-0 wow zoomInUp animated" src="/catalog/view/theme/oct_ultrastore/img/kust-3.png"
                             data-wow-delay="2.6s" alt="">
                        <img class="pointt-01 wow zoomInUp animated"
                             src="/catalog/view/theme/oct_ultrastore/img/klyaksa-4.svg" data-wow-delay="2.8s" alt="">
                        <img class="pointt-1 wow zoomInUp animated" src="/catalog/view/theme/oct_ultrastore/img/doska.svg"
                             data-wow-delay="0.2s" alt="">
                        <img class="pointt-2 wow zoomInUp animated" src="/catalog/view/theme/oct_ultrastore/img/popugay.svg"
                             data-wow-delay="0.4s" alt="">
                        <img class="pointt-3 wow zoomInUp animated"
                             src="/catalog/view/theme/oct_ultrastore/img/spruce-1.png" data-wow-delay="0.6s" alt="">
                        <img class="pointt-31 wow zoomInUp animated"
                             src="/catalog/view/theme/oct_ultrastore/img/klyaksa-1.svg" data-wow-delay="0.8s" alt="">
                        <img class="pointt-4 wow zoomInUp animated"
                             src="/catalog/view/theme/oct_ultrastore/img/spruce-2.svg" data-wow-delay="1s" alt="">
                        <img class="pointt-5 wow zoomInUp animated"
                             src="/catalog/view/theme/oct_ultrastore/img/spruce-3.svg" data-wow-delay="1.2s" alt="">
                        <img class="pointt-51 wow zoomInUp animated"
                             src="/catalog/view/theme/oct_ultrastore/img/klyaksa-1.svg" data-wow-delay="1.4s" alt="">
                        <img class="pointt-6 wow zoomInUp animated"
                             src="/catalog/view/theme/oct_ultrastore/img/spruce-4.svg" data-wow-delay="1.6s" alt="">
                        <img class="pointt-10 wow zoomIn  animated"
                             src="/catalog/view/theme/oct_ultrastore/img/kenguru-top.png" data-wow-delay="3s" alt="">
                        <img class="pointt-7 wow zoomInUp animated"
                             src="/catalog/view/theme/oct_ultrastore/img/spruce-5.png" data-wow-delay="1.8s" alt="">
                        <img class="pointt-81 wow zoomInUp animated"
                             src="/catalog/view/theme/oct_ultrastore/img/klyaksa-1.svg" data-wow-delay="2.2s" alt="">
                        <img class="pointt-9 wow zoomInUp animated"
                             src="/catalog/view/theme/oct_ultrastore/img/spruce-7.svg" data-wow-delay="2.4s" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="item">
            <svg class="item-svg" id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1406 325">
                <defs>
                    <style>.cls-1, .cls-2, .cls-3 {
                            stroke: #2b5c0b;
                        }

                        .cls-1 {
                            stroke-opacity: 0.5;
                            fill-rule: evenodd;
                            fill: url(#Безымянный_градиент_12);
                        }

                        .cls-2, .cls-3 {
                            fill: none;
                        }

                        .cls-2 {
                            stroke-opacity: 0.4;
                        }

                        .cls-3 {
                            stroke-opacity: 0.3;
                        }</style>
                    <linearGradient id="Безымянный_градиент_12" x1="1406" y1="116.75" x2="1" y2="116.75"
                                    gradientTransform="translate(1407 490) rotate(180)" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#98dcc7" stop-opacity="0.1"/>
                        <stop offset="1" stop-color="#98dcc7" stop-opacity="0.1"/>
                    </linearGradient>
                </defs>
                <path class="cls-1"
                      d="M1406,411s-148.48,50.91-280.73,41-530.51-178-743.46-188.6S1,291.5,1,291.5v106S225.82,299.57,405.2,304s523.6,160.48,652.08,178.1S1406,432,1406,432Z"
                      transform="translate(-0.5 -160.5)"/>
                <path class="cls-2" d="M1404,392.7s-149.38,43.55-277.33,34.06S590.72,258.05,384.27,238,4,249.69,4,249.69"
                      transform="translate(-0.5 -160.5)"/>
                <path class="cls-3" d="M1404,203.54s-142,73.56-277.27,66.68S619.54,178.51,408.5,163.57,4,203.54,4,203.54"
                      transform="translate(-0.5 -160.5)"/>
            </svg>
            <div class="container contai-item">
                <div class="row text-center">
                    <h2 class="the-best wow fadeInRightBig animated"><span>3</span>Наші круті товари</h2>
                    <p>Розсадник вирощує і реалізує широкий асортимент саджанців листяних, хвойних дерев та кущів з закритою
                        кореневою системою. Посадковий матеріал розсадника розрахований для озеленення, як міських
                        територій, так і присадибних ділянок.</p>
                </div>
                {{ content_top }}
            </div>
        </section>
        <section class="partner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 partner-col-1 wow rollIn animated">
                        <h2 class="the-best"><span>4</span>Шукаєш надійного <strong>постачальника рослин?</strong></h2>
                        <p class="wow bounceInDown tada" data-wow-delay="1s">Розсадник Гарди протягом багатьох років
                            співпрацює з приватними та державними компаніями, комунальними підприємствами, будівельними
                            компаніями, садовими центрами, ландшафтними дизайнерами та іншими учасниками «зеленого» бізнесу.
                            Щорічно десятки тисяч наших рослин поставляється та висаджується по всій країні. Нашим колегам
                            та партнерам ми пропонуємо спеціальні умови співпраці. Запрошуємо в Гарди з нами зручно надійно
                            та вигідно.</p>
                        <button type="button" class="btn btn-primary align-baseline">Детальніше</button>
                    </div>
                    <div class="col-md-6 partner-col-2 wow lightSpeedIn animated">
                        <div class="for-partner">
                            <img class="partner__bg wow bounceInLeft animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/people-1.png" data-wow-delay="1s" alt=""/>
                            <img class="partner__bg_1 wow bounceInRight animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/people-2.png" data-wow-delay="1.3s" alt=""/>
                            <img class="partner__bg_2 wow bounceInLeft animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/flouwer-1.svg" data-wow-delay="1.6s" alt=""/>
                            <img class="partner__bg_3 wow bounceInDown animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/p-tree-1.png" data-wow-delay="1.9s" alt=""/>
                            <img class="partner__bg_4 wow bounceInRight animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/flouwer-2.png" data-wow-delay="2.1s" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="history">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow rollIn animated">
                        <div class="for-history">
                            <img class="history__bg_1 wow bounceInLeft animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/history-el-1.png" data-wow-delay="1s" alt=""/>
                            <img class="history__bg_2 wow bounceInRight animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/history-el-2.png" data-wow-delay="1.3s"
                                 alt=""/>
                            <img class="history__bg_3 wow bounceInLeft animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/history-el-3.png" data-wow-delay="1.6s"
                                 alt=""/>
                            <img class="history__bg_4 wow bounceInDown animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/history-el-4.png" data-wow-delay="1.9s"
                                 alt=""/>
                            <img class="history__bg_5 wow bounceInRight animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/history-el-5.png" data-wow-delay="2.1s"
                                 alt=""/>
                            <img class="history__bg_6 wow bounceInUp animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/history-el-6.png" data-wow-delay="2.4s"
                                 alt=""/>
                            <img class="history__bg_7 wow bounceInRight animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/history-el-7.png" data-wow-delay="2.7s"
                                 alt=""/>
                            <img class="history__bg_8 wow bounceInLeft animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/history-el-8.png" data-wow-delay="3s" alt=""/>
                            <img class="history__bg_9 wow bounceInDown animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/history-el-9.png" data-wow-delay="3.1s"
                                 alt=""/>
                            <img class="history__bg_10 wow bounceInRight animated"
                                 src="/catalog/view/theme/oct_ultrastore/img/history-el-10.png" data-wow-delay="3.4s"
                                 alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6 wow lightSpeedIn animated">
                        <h2 class="the-best"><span>5</span>Наша історія</h2>
                        <p class="wow bounceInDown tada" data-wow-delay="1s">Найбільший розсадник рослин в Україні займає
                            площу 42 гектара. Наш розсадник декоративних рослин є продовженням спадщини історичного
                            розсадника та безпосереднім розвитком ідей та цінностей Карла Рамма та Карла Бера, засновників
                            декоративного садівництва у Кременчуці, одного з перших центрів професійного рослинництва
                            України. Ми пишаємося тим, що продовжуємо традиції закладені ще у XIX столітті.</p>
                        <a href="/istoriia-i-tradytsii-ua">
                            <button type="button" class="btn btn-primary align-middle"
                                    onclickonclick="location.href='/istoriia-i-tradytsii-ua'">Детальніше
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="car-container">
            <div class="container-fuild mt-5">
                <div class="carousel-container position-relative row">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-slide-number="0">
                                <img src="./upload/galler/1.jpg" class="d-block w-100" alt="..."
                                     data-remote="./upload/galler/1.jpg" data-type="image" data-toggle="lightbox"
                                     data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="1">
                                <img src="./upload/galler/2.jpg" class="d-block w-100" alt="..."
                                     data-remote="./upload/galler/2.jpg" data-type="image" data-toggle="lightbox"
                                     data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="2">
                                <img src="./upload/galler/3.jpg" class="d-block w-100" alt="..."
                                     data-remote="./upload/galler/3.jpg" data-type="image" data-toggle="lightbox"
                                     data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="3">
                                <img src="./upload/galler/4.jpg" class="d-block w-100" alt="..."
                                     data-remote="./upload/galler/4.jpg" data-type="image" data-toggle="lightbox"
                                     data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="4">
                                <img src="./upload/galler/5.jpg" class="d-block w-100" alt="..."
                                     data-remote="./upload/galler/5.jpg" data-type="image" data-toggle="lightbox"
                                     data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="5">
                                <img src="./upload/galler/6.jpg" class="d-block w-100" alt="..."
                                     data-remote="./upload/galler/6.jpg" data-type="image" data-toggle="lightbox"
                                     data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="6">
                                <img src="./upload/galler/8.jpg" class="d-block w-100" alt="..."
                                     data-remote="./upload/galler/7.jpg" data-type="image" data-toggle="lightbox"
                                     data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="7">
                                <img src="./upload/galler/8.jpg" class="d-block w-100" alt="..."
                                     data-remote="./upload/galler/8.jpg" data-type="image" data-toggle="lightbox"
                                     data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="8">
                                <img src="./upload/galler/9.jpg" class="d-block w-100" alt="..."
                                     data-remote="./upload/galler/9.jpg" data-type="image" data-toggle="lightbox"
                                     data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="9">
                                <img src="./upload/galler/10.jpg" class="d-block w-100" alt="..."
                                     data-remote="./upload/galler/10.jpg" data-type="image" data-toggle="lightbox"
                                     data-gallery="example-gallery">
                            </div>
                        </div>
                    </div>

                    <!-- Carousel Navigation -->
                    <div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row mx-0">
                                    <div id="carousel-selector-0" class="thumb col-4 col-sm-2 px-1 py-2 selected"
                                         data-target="#myCarousel" data-slide-to="0">
                                        <img src="./upload/galler/1.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div id="carousel-selector-1" class="thumb col-4 col-sm-2 px-1 py-2"
                                         data-target="#myCarousel" data-slide-to="1">
                                        <img src="./upload/galler/2.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div id="carousel-selector-2" class="thumb col-4 col-sm-2 px-1 py-2"
                                         data-target="#myCarousel" data-slide-to="2">
                                        <img src="./upload/galler/3.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div id="carousel-selector-3" class="thumb col-4 col-sm-2 px-1 py-2"
                                         data-target="#myCarousel" data-slide-to="3">
                                        <img src="./upload/galler/4.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div id="carousel-selector-4" class="thumb col-4 col-sm-2 px-1 py-2"
                                         data-target="#myCarousel" data-slide-to="4">
                                        <img src="./upload/galler/5.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div id="carousel-selector-5" class="thumb col-4 col-sm-2 px-1 py-2"
                                         data-target="#myCarousel" data-slide-to="5">
                                        <img src="./upload/galler/6.jpg" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row mx-0">
                                    <div id="carousel-selector-6" class="thumb col-4 col-sm-2 px-1 py-2"
                                         data-target="#myCarousel" data-slide-to="6">
                                        <img src="./upload/galler/7.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div id="carousel-selector-7" class="thumb col-4 col-sm-2 px-1 py-2"
                                         data-target="#myCarousel" data-slide-to="7">
                                        <img src="./upload/galler/8.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div id="carousel-selector-8" class="thumb col-4 col-sm-2 px-1 py-2"
                                         data-target="#myCarousel" data-slide-to="8">
                                        <img src="./upload/galler/9.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div id="carousel-selector-9" class="thumb col-4 col-sm-2 px-1 py-2"
                                         data-target="#myCarousel" data-slide-to="9">
                                        <img src="./upload/galler/10.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div class="col-2 px-1 py-2"></div>
                                    <div class="col-2 px-1 py-2"></div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel-thumbs" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-thumbs" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <script>
                        function closeLoader() {
                            const loader = document.getElementById('first-screen');
                            loader.style.display = 'none';
                        }
                    </script>
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            var loader = document.getElementById('first-screen');
                            var loaderDisplayedTime = parseInt(localStorage.getItem('loaderDisplayedTime')) || 0;
                            var currentTime = Math.floor(Date.now() / 1000);
                            if (currentTime - loaderDisplayedTime > 3600) {
                                loader.style.display = 'block';
                                localStorage.setItem('loaderDisplayedTime', currentTime);
                            } else {
                                loader.style.display = 'none';
                            }
                        });
                    </script>

                </div> <!-- /row -->
            </div> <!-- /container -->
            <script>


                $('#myCarousel').carousel({
                    interval: false
                });
                $('#carousel-thumbs').carousel({
                    interval: false
                });

                // handles the carousel thumbnails
                // https://stackoverflow.com/questions/25752187/bootstrap-carousel-with-thumbnails-multiple-carousel
                $('[id^=carousel-selector-]').click(function () {
                    var id_selector = $(this).attr('id');
                    var id = parseInt(id_selector.substr(id_selector.lastIndexOf('-') + 1));
                    $('#myCarousel').carousel(id);
                });
                // Only display 3 items in nav on mobile.
                if ($(window).width() < 575) {
                    $('#carousel-thumbs .row div:nth-child(4)').each(function () {
                        var rowBoundary = $(this);
                        $('<div class="row mx-0">').insertAfter(rowBoundary.parent()).append(rowBoundary.nextAll().addBack());
                    });
                    $('#carousel-thumbs .carousel-item .row:nth-child(even)').each(function () {
                        var boundary = $(this);
                        $('<div class="carousel-item">').insertAfter(boundary.parent()).append(boundary.nextAll().addBack());
                    });
                }
                // Hide slide arrows if too few items.
                if ($('#carousel-thumbs .carousel-item').length < 2) {
                    $('#carousel-thumbs [class^=carousel-control-]').remove();
                    $('.machine-carousel-container #carousel-thumbs').css('padding', '0 5px');
                }
                // when the carousel slides, auto update
                $('#myCarousel').on('slide.bs.carousel', function (e) {
                    var id = parseInt($(e.relatedTarget).attr('data-slide-number'));
                    $('[id^=carousel-selector-]').removeClass('selected');
                    $('[id=carousel-selector-' + id + ']').addClass('selected');
                });
                // when user swipes, go next or previous
                $('#myCarousel').swipe({
                    fallbackToMouseEvents: true,
                    swipeLeft: function (e) {
                        $('#myCarousel').carousel('next');
                    },
                    swipeRight: function (e) {
                        $('#myCarousel').carousel('prev');
                    },
                    allowPageScroll: 'vertical',
                    preventDefaultEvents: false,
                    threshold: 75
                });
                /*
                $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                  event.preventDefault();
                  $(this).ekkoLightbox();
                });
                */

                $('#myCarousel .carousel-item img').on('click', function (e) {
                    var src = $(e.target).attr('data-remote');
                    if (src) $(this).ekkoLightbox();
                });
            </script>
        </section>
    </main>
    {{ footer }}
{% endif %}