{{ header }}
<link rel="stylesheet" href="/catalog/view/theme/oct_ultrastore/stylesheet/contact.css">
<link rel="stylesheet" href="/catalog/view/theme/oct_ultrastore/stylesheet/all.css">
<main class="contact">
   <section class="contact">
      <div class="container">
         <div class="row mob-row">
            <p class="get__category section-category">Наші контакти</p>
            <svg class="underline-image" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="94" height="7" viewBox="0 0 94 7" fill="none">
            <path d="M1 6.14062C35.2195 0.498047 53.8383 1.18056 93 3.99737M1.09713 0.999321C35.7048 1.16275 70.5455 1.18369 93 1.35276" stroke="#2b5c0b" stroke-linecap="round"></path>
         </svg>
         </div>
         <div class="row mob-row">
            <h2 class="get__title section-title" style="">Гарди - декоративні рослини і квіти</h2>
         </div>
         <div class="row">
            <div class="col-md-3 mob-row">
               <div class="get__left-side sticky">
                  <img src="https://www.gardi.biz/assets/panorama/panorama43.jpg" data-src="https://www.gardi.biz/assets/panorama/panorama43.jpg" alt="" class="get__image ls-is-cached lazyloaded">
                  <p class="get__subtitle">Наші співробітники нададуть консультації, пов'язані з підбором рослин, посадкою, підготовкою грунту, доглядом та іншими агротехнічними заходами</p>
                  <button class="get__apply no-max-width form-scholarship-popup-btn pc-only yellow-shadowed-button">Консультація</button>
               </div>
            </div>
            <div class="col-md-9">
            <div class="row left-mmm">
               <svg class="qqq" xmlns="http://www.w3.org/2000/svg" data-name="Слой 1" viewBox="0 0 521.85 313.87"><path class="linel" d="M698.89 404.19s39.42 4.76 57.76-36S815.06 339 815.06 339l23.09 8.15a36.76 36.76 0 0 0 24.46-1.35c10.81-5.25-4.76-19-4.76-19s-22.3-17.48 24.46-22.42c33.28 2 42.73 0 42.73 0s31.3-3.41 76.13-73.38 67.93-2 135.17-8.15 67.25-95.32 67.25-95.32a21.3 21.3 0 0 1-13.13-16.3s13.13 1 13.13 16.3c13.92-2.32 16.47-15.39 16.47-15.39s-16.73 2.2-16.3 15.11c0 0 .68-10.64-2.38-16-6.79-1.81-7.64-13.87-6.28-19.64 7.64 1.36 11.74 14.18 6.28 19.64" style="fill:none;stroke-miterlimit:10" transform="translate(-698.83 -90.99)"></path></svg>
               <div class="col-md-4">
                  <div class="get__scheme-item">
                     <p class="get__scheme-item-step blue-background">Декоративні рослини</p>
                     <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">м. Кременчук <br><span>вул. Маршала Рокоссовського 64б</span></a></li>
                        <li class="mb-2"><a href="tel:+380675315512">+380 67 531-55-12</a></li>
                        <li class="mb-2"><a href="emeil:nursery@gardi.biz">E-mail: nursery@gardi.biz</a></li>
                        <li class="mb-2"><a href="#">Відділ продажу працює<br><span>з 8:00 до 17:00 (неділя -вихідний)</span></a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="get__scheme-item">
                     <p class="get__scheme-item-step blue-background">Квіткові рослини</p>
                     <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">м. Горішні плавні, вул. Портова 4</a></li>
                        <li class="mb-2"><a href="tel:+380675309976">+380 67 530-99-76</a></li>
                        <li class="mb-2"><a href="emeil:flowers@gardi.biz">E-mail: flowers@gardi.biz</a></li>
                        <li class="mb-2"><a href="#">Відділ продажу працює<br><span>з 8:00 до 17:00 (неділя -вихідний)</span></a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="get__scheme-item con-last">
                     <p class="get__scheme-item-step blue-background">Розсадник Київ</p>
                     <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">м. Київ <br><span>вул. Маршала Рокоссовського 64б</span></a></li>
                        <li class="mb-2"><a href="tel:+380675315512">+380 67 531-55-12,</a></li>
                        <li class="mb-2"><a href="emeil:nursery@gardi.biz">E-mail: nursery@gardi.biz</a></li>
                        <li class="mb-2"><a href="#">Відділ продажу працює<br><span>з 8:00 до 17:00 (неділя -вихідний)</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="get__text">Ви завжди зможете отримати консультацію по підбору, посадці, поливу та догляду за рослинами</div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="get__text con-map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10442.338602063297!2d33.423898!3d49.132523!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d75203473665e3%3A0x1c5e163ffb9f996c!2z0J_QuNGC0L7QvNC90LjQuiDRgNCw0YHRgtC10L3QuNC5INCT0LDRgNC00Lg!5e0!3m2!1sru!2sua!4v1706635947612!5m2!1sru!2sua" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
               </div>
            </div>
            </div>
         </div>
      </div>
   </section>
</main>
{{ footer }}
